.idea/*
.cache/*
.coverage
htmlcov/*
lab/__pycache__/*
lab/gene/__pycache__/*
lab/genome/__pycache__/*
lab/vcf/__pycache__/*
lab/peak/__pycache__/*
tests/.cache/*
tests/__pycache__/*
tests/gene/__pycache__/*
tests/genome/__pycache__/*
tests/vcf/__pycache__/*
tests/peak/__pycache__/*
